.btn.btn-primary1 {
  outline: none !important;
  width: 45px;
  color: #2a2a2a;
  text-decoration: none;
  background-color: transparent;
  text-align: center;
  padding: 0.25rem 0.5rem;
}
.imgFluid {
  max-width: 100%;
  max-height: 145px;
  height: auto;
}

.mainContainer {
  display: flexible;
  display: inline-grid;
  align-self: center;
  grid-template-columns: 7rem auto auto auto;
  grid-template-rows: 5rem auto auto auto;
  grid-template-areas:
    "image image side side"
    "image image admin admin"
    "body body body body"
    "body body body body";
}
.imageContainer {
  width: auto;
  height: 100%;
  object-fit: scale-down;
  justify-self: start;
  margin: 5px;
  grid-area: image;
}
.sideContainer {
  grid-area: side;
  max-height: 80px;
  width: auto;
  height: auto;
  justify-self: center;
  margin-right: 10px;
}
.bodyContainer {
  grid-area: body;
  align-self: start;
}
.adminContainer {
  grid-area: admin;
  float: bottom;
  justify-self: center;
  align-self: end;
}
.description {
  overflow: auto;
  height: 60px;
  padding-bottom: 7px;
}
.user {
  margin-bottom: 10px;
  margin-top: 10px;
}
.adminOptions {
  padding: 5px;
}
.cardBody {
  /* 
  max-height: 350px;
  width: flex; */
  height: flex;
  padding: 10px;
}
.titleBox {
  height: 30px;
  width: 175px;
  white-space: nowrap;
}
.blogTitle {
  margin-bottom: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.fa-1x.mr-2.fas.fa-edit.pull-right {
  height: 5px;
  width: 5px;
}
.fa-2x.mr-2.fas.fa-trash-alt {
  height: 10px;
  width: 10px;
  color: rgb(64, 138, 223);
}

button:hover {
  background-color: #2f80e7;
}
